<a href="https://colab.research.google.com/github/catssci/TIL/blob/main/CodingTest/kakao/2021_Dev_Matching.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- [2021 Dev-Matching: 웹 백엔드 개발자(하반기)](https://programmers.co.kr/learn/challenges)

# 01. 로또의 최고 순위와 최저 순위

In [ ]:
def solution(lottos, win_nums):    
    min_ans = 0
    max_ans = 0
    for temp in lottos:
        if temp in win_nums:
            max_ans += 1
            min_ans += 1
        elif temp == 0:
            max_ans += 1
    answer = [6, 6, 5, 4, 3, 2, 1]
    return [answer[max_ans], answer[min_ans]]

In [ ]:
lottos = [[44, 1, 0, 0, 31, 25], [0, 0, 0, 0, 0, 0], [45, 4, 35, 20, 3, 9]]
win_nums = [[31, 10, 45, 1, 6, 19], [38, 19, 20, 40, 15, 25], [20, 9, 3, 45, 4, 35]]

In [ ]:
for lotto, win_num in zip(lottos, win_nums):
  print(solution(lotto, win_num))

[3, 5]
[1, 6]
[1, 1]

# 02. 행렬 테두리 회전하기

In [1]:
def solution(rows, columns, queries):
    # 행렬 만들기
    table = []
    for r in range(rows):
        table.append([a for a in range(r*columns+1, (r+1)*columns+1)])
    
    answer = []
    for query in queries:
        query = [x-1 for x in query]      # Python 인덱스에 맞춰주기 위해
        tmp = table[query[0]][query[1]]   # 왼쪽 위 값 저장, 시작점
        small = tmp
        
        # left, y1 고정
        for i in range(query[0]+1, query[2]+1):
            table[i-1][query[1]] = table[i][query[1]]
            small = min(small, table[i][query[1]])
        # bottom, x2 고정
        for i in range(query[1]+1, query[3]+1):
            table[query[2]][i-1] = table[query[2]][i]
            small = min(small, table[query[2]][i])
        # right, y2 고정
        for i in range(query[2]-1, query[0]-1, -1):
            table[i+1][query[3]] = table[i][query[3]]
            small = min(small, table[i][query[3]])
        # top, x1 고정
        for i in range(query[3]-1, query[1]-1, -1):
            table[query[0]][i+1] = table[query[0]][i]
            small = min(small, table[query[0]][i])
        table[query[0]][query[1]+1] = tmp
        
        answer.append(small)
    
    return answer

In [2]:
rows = [6, 3, 100]
columns = [6, 3, 97]
queries	= [[[2,2,5,4],[3,3,6,6],[5,1,6,3]], [[1,1,2,2],[1,2,2,3],[2,1,3,2],[2,2,3,3]], [[1,1,100,97]]]

In [3]:
for row, column, querie in zip(rows, columns, queries):
  print(solution(row, column, querie))

[8, 10, 25]
[1, 1, 5, 3]
[1]