<a href="https://colab.research.google.com/github/catssci/TIL/blob/main/CodingTest/kakao/kakao_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[2022 카카오 신입 공채 1차 온라인 코딩테스트](https://tech.kakao.com/2022/01/14/2022-kakao-recruitment-round-1/)

# 01. 신고 결과 받기

In [ ]:
def solution(id_list, report, k):
    dic1 = {x: [] for x in id_list}
    dic2 = {x: 0 for x in id_list}
    for s in report:
        a, b = s.split()
        if b not in dic1[a]:
            dic1[a].append(b)
            dic2[b] += 1
    
    answer = []
    for x in id_list:
        temps = dic1[x]
        ans = 0
        for temp in temps:
            if dic2[temp] >= k:
                ans += 1
        answer.append(ans)
    return answer

In [ ]:
id_lists = [["muzi", "frodo", "apeach", "neo"], ["con", "ryan"]]
reports = [["muzi frodo","apeach frodo","frodo neo","muzi neo","apeach muzi"], ["ryan con", "ryan con", "ryan con", "ryan con"]]
ks = [2, 3]

In [ ]:
for id_list, report, k in zip(id_lists, reports, ks):
  print(solution(id_list, report, k))

[2, 1, 1, 0]
[0, 0]

- Python convert list to dictionary keys
  > {x: [] for x in id_list}

# 02. k 진수에서 소수의 개수 구하기

In [ ]:
import math

def solution(n, k):
    # k진법으로 변환
    new_n = trans(n, k)
    
    pos = new_n.split('0')
    answer = 0
    for p in pos:
        if p != '' and is_prime_number(int(p)):
            answer += 1
    return answer

def trans(n, k):
    rev_base = ''

    while n > 0:
        n, mod = divmod(n, k)
        rev_base += str(mod)

    return rev_base[::-1]

def is_prime_number(x):
    if x == 1:
        return False
    for i in range(2, int(math.sqrt(x)) + 1):
        if x % i == 0:
            return False
    return True

In [ ]:
ns = [437674, 110011]
ks = [3, 10]

In [ ]:
for n, k in zip(ns, ks):
  print(solution(n, k))

3
2

# 03. 주차 요금 계산

In [10]:
import math

def solution(fees, records):
    dic = {}
    for record in records:
        time, num, info = record.split()
        if num in dic.keys():
            dic[num].append([time, info])
        else:
            dic[num] = [[time, info]]
    
    times = {}
    for key in dic.keys():
        # 입출차 모두 된 상태
        time = 0
        if len(dic[key]) % 2 == 0:
            for t1, t2 in zip(dic[key][::2], dic[key][1::2]):
                hour1, min1 = t1[0].split(':')
                hour2, min2 = t2[0].split(':')
                min1 = int(hour1) * 60 + int(min1)
                min2 = int(hour2) * 60 + int(min2)
                time += min2 - min1
        else:
            for t1, t2 in zip(dic[key][::2], dic[key][1::2]):
                hour1, min1 = t1[0].split(':')
                hour2, min2 = t2[0].split(':')
                min1 = int(hour1) * 60 + int(min1)
                min2 = int(hour2) * 60 + int(min2)
                time += min2 - min1
            temp_hour, temp_min = dic[key][-1][0].split(':')
            last_hour, last_min = 23, 59
            min1 = int(temp_hour) * 60 + int(temp_min)
            min2 = int(last_hour) * 60 + int(last_min)
            time += min2 - min1
        times[key] = time
    
    sorted_dict = sorted(times.items())
    
    answer = []
    for key, value in sorted_dict:
        ans = fees[1]
        if value > fees[0]:
            ans += math.ceil((value - fees[0]) / fees[-2]) * fees[-1]
        answer.append(ans)
    return answer

In [11]:
feess = [[180, 5000, 10, 600], [120, 0, 60, 591], [1, 461, 1, 10]]
recordss = [["05:34 5961 IN", "06:00 0000 IN", "06:34 0000 OUT", "07:59 5961 OUT", "07:59 0148 IN", "18:59 0000 IN", "19:09 0148 OUT", "22:59 5961 IN", "23:00 5961 OUT"], 
           ["16:00 3961 IN","16:00 0202 IN","18:00 3961 OUT","18:00 0202 OUT","23:58 3961 IN"],
           ["00:00 1234 IN"]]

In [12]:
for fees, records in zip(feess, recordss):
  print(solution(fees, records))

[14600, 34400, 5000]
[0, 591]
[14841]