<a href="https://colab.research.google.com/github/catssci/TIL/blob/main/CodingTest/DP_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 31. 금광

In [1]:
T = int(input())

for _ in range(T):
  n, m = map(int, input().split())
  gold_list = list(map(int, input().split()))

  gold = []
  idx = 0
  for i in range(n):
    gold.append(gold_list[idx: idx + m])
    idx += m

  # if n == 1:



  # 왼쪽부터 오른쪽으로 이동
  for j in range(1, m):
    for i in range(n):
      # 맨 위쪽
      if i == 0:
        gold[i][j] = max(gold[i][j-1], gold[i+1][j - 1]) + gold[i][j]
      # 맨 아래쪽
      elif i == n-1:
        gold[i][j] = max(gold[i - 1][j - 1], gold[i][j - 1]) + gold[i][j]
      else:
        gold[i][j] = max(gold[i - 1][j - 1], gold[i][j - 1], gold[i + 1][j - 1]) + gold[i][j]

  M = 0
  for i in range(n):
    if M < gold[i][m - 1]:
      M = gold[i][m - 1]
  print(M)

1
3 4
1 3 3 2 2 1 4 1 0 6 4 7
19

In [4]:
T = int(input())

for _ in range(T):
  n, m = map(int, input().split())
  gold_list = list(map(int, input().split()))

  gold = []
  idx = 0
  for i in range(n):
    gold.append(gold_list[idx: idx + m])
    idx += m

  # n == 1인 경우 예외 처리 할 필요 없음
  # 왼쪽부터 오른쪽으로 이동
  for j in range(1, m):
    for i in range(n):
      # 위쪽에서 오는 경우
      if i == 0:
        left_up = 0
      else:
        left_up = gold[i - 1][j - 1]
      
      # 아래에서 오는 경우
      if i == n - 1:
        left_down = 0
      else:
        left_down = gold[i + 1][j - 1]
      
      # 왼쪽에서 오는 경우
      left = gold[i][j - 1]
      gold[i][j] = max(left_up, left, left_down) + gold[i][j]

  ans = 0
  for i in range(n):
    ans = max(ans, gold[i][m - 1])

  print(ans)

1
1 5
1 3 3 2 2
11

## 32. 정수 삼각형

In [14]:
n = int(input())

data = []
for _ in range(n):
  data.append(list(map(int, input().split())))

for i in range(1, n):
  for j in range(i+1):
    if j == 0:
      up_left = 0
    else:
      up_left = data[i-1][j-1]

    if j == i:
      up_right = 0
    else:
      up_right = data[i-1][j]
    
    data[i][j] = max(up_left, up_right) + data[i][j]

print(max(data[n-1]))

5
7
3 8
8 1 0
2 7 4 4
4 5 2 6 5
30

## 33. 퇴사

In [12]:
'''
  dp[i] : i번째 날부터 마지막 날까지 낼 수 있는 최대 이익
'''

n = int(input())
t = []             # 각 상담이 완료하는 데 걸리는 시간
p = []             # 각 상담을 완료했을 대 받을 수 있는 금액
dp = [0] * (n + 1) # 다이나믹 프로그래밍을 위한 1차원 dp table 초기화
max_value = 0

for _ in range(n):
  x, y = list(map(int, input().split()))
  t.append(x)
  p.append(y)

# 리스트를 뒤에서부터 거꾸로 확인
for i in range(n - 1, -1, -1):
  time = t[i] + i

  # 상담이 기간 안에 끝나는 경우
  if time <= n:
    # 점화식에 맞게, 현재까지의 최고 이익 계산
    dp[i] = max(p[i] + dp[time], max_value)
    max_value = dp[i]
  # 상담이 기간을 벗어나는 경우
  else:
    dp[i] = max_value

print(max_value)

7
3 10
5 20
1 10
1 20
2 15
4 40
2 200
45

## 34. 병사 배치하기

In [14]:
"""
  가장 긴 증가하는 부분 수열 문제
  "LIS : Longest Increasing Subsequence"
"""
n = int(input())

# 순서를 뒤집어 "가장 긴 증가하는 부분 수열" 문제로 변환
data = list(map(int, input().split()))
data.reverse()

dp = [1] * n

# LIS
for i in range(1, n):
  for j in range(0, i):
    if data[j] < data[i]:
      dp[i] = max(dp[i], dp[j] + 1)

print(n - max(dp))

7
15 11 4 8 5 2 4
2

## 35. 못생긴 수

In [17]:
n = int(input())

ugly = [0] * n
ugly[0] = 1
i2 = i3 = i5 = 0
next2, next3, next5 = 2, 3, 5

for l in range(1, n):
  ugly[l] = min(next2, next3, next5)

  if ugly[l] == next2:
    i2 += 1
    next2 = ugly[i2] * 2
  if ugly[l] == next3:
    i3 += 1
    next3 = ugly[i3] * 3
  if ugly[l] == next5:
    i5 += 1
    next5 = ugly[i5] * 5

print(ugly[n - 1])

10
12

## 36. 편집 거리

In [ ]:
a = input()
b = input()